// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary : 'Lato',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$font-family--secondary : 'Helvetica Neue',
Helvetica,
Arial,
sans-serif;

// Font Weights

$font-weight--thin : 100;
$font-weight--light : 300;
$font-weight--medium : 400;
$font-weight--bold : 700;
$font-weight--ultra-bold : 900;

// Descriptive Base Colors

$white : #fff;
$black : #0b0b0b;
$grey : #797e83;

$jacarta : #3E2D73;
$fern : #56b158;
$cornflower: #e9f6f9;
$blizzard-blue: #a4deee;


// Color Usage

$color-primary : $jacarta;
$color-secondary : $scooter;
$color-accent : $emerald;
$color-shadow : rgba($black, .2);

// Text

$base__font-size : 16px;
$base__line : 24px;